body {
  margin: 40px auto;
  max-width: 480px;
  line-height: 1.6;
  font-size: 18px;
  color: #444;
  padding: 0;
}

h1, h3 {
  text-align: center;
}


.wrapper {
  display: grid;
  grid-template-columns:  5fr 2fr 1fr;
  border: solid 1px;
  margin-bottom: 2px;
}

.add-task-bar {
  margin-top: 15px;
}

.complete {
  background: linear-gradient(90deg, rgb(143, 253, 95) 0%, rgb(214, 255, 196) 35%, rgb(255, 255, 255) 100%);
}

.incomplete {
  background: linear-gradient(90deg, rgb(255, 173, 187) 0%, rgb(255, 226, 231) 35%, rgb(255, 255, 255) 100%);
}

.btn {
  background-color: #444;
  border: none; 
  color: white;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
  margin-left: 1px;
  font-weight: 600;
}

.btn-complete {
  min-width: 120px;
}

.btn-success {
  background-color: green;
}

.btn-remove {
  background-color: rgb(252, 59, 59);
  color: #000000;
}